.login-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.login-modal {
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
}

.login-title {
    text-align: center;
}

.login-form {
    margin-top: 20px;
}

.alert {
    margin-top: 10px;
}