<div>
    <button class="btn btn-primary mb-3">Adicionar Produto</button>
</div>

<div class="container">
    <h2>Usuários</h2>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <button class="btn btn-primary" (click)="editUser(user.id)">Edit</button>
                    <button class="btn btn-danger" (click)="deleteUser(user.id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>

    <button class="btn btn-primary mb-3" (click)="addUser()">Adicionar Usuário</button>
</div>