<div class="container">
    <header class="navbar navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand">Teste Maitha</a>
            <div class="btn-group ml-auto">
                <button class="btn btn-outline-light" routerLink="/products" *ngIf="isAuthenticated()">Produtos</button>
                <button class="btn btn-outline-light" routerLink="/users" *ngIf="isAuthenticated()">Usuários</button>
                <button class="btn btn-outline-light" (click)="logout()" *ngIf="isAuthenticated()">Logout</button>
            </div>
        </div>
    </header>

    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>