.navbar {
    width: 100%;
    left: 0;
    position: fixed;
    z-index: 9999;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.router-container {
    margin-top: 56px;
}